nav {
    position: fixed;
    top: 5px;
    right: 30px;
}
.page {
    height: 100vh;
}
#Home {
    background-color: rgb(60, 113, 117);
}
#Project {
    background-color: rgb(60, 113, 117);
}
#About {
    background-color: rgb(60, 113, 117);
}
#Contact {
    background-color: rgb(60, 113, 117);
}